.login {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 600px;
    padding: 40px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.field label {
    color: #C4C4C4
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-secondary-color);
    font-size: 14px;
}
.links a {
    text-decoration: none;
    color: var(--primary-color);
}

.error {
    background: rgb(200, 159, 70);
    color: #fff;
    padding: 20px;
}
