.h1 {
      margin-bottom: 10px;
    }
.ol {
    margin-left: 20px;
    font-size: 24px;
}
.note {
    font-style: italic;
    margin-top: 20px;
}

.wrapper {
    min-height: 100svh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #0d1117;
    color: #ffffff;
}

.content {
    max-width: 700px;
}
@media (max-width: 768px) {
    .ol, .note {
        font-size: 16px;
    }
    .wrapper {
        padding: 20px;
        box-sizing:border-box;
    }
}

.qrCode {
    padding: 20px 0 40px;
    display: flex;
}
